nav.header-menu-main {
    height: calc(100vh - 50px);
    overflow-y: auto;
    
    .menu {
        .menu-item {
            a {
                &:not(.subbutton):not(.backbutton) {
                    color: var(--font-color);
                    padding: {
                        right: rem-calc($grid-padding);
                        left: rem-calc($grid-padding);
                    }

                    &:hover {
                        background: {
                            color: var(--white-20);
                        }
                        
                    }

                    @include MQ(medium) {
                        line-height: rem-calc(50);
                        padding: {
                            top: 0;
                            right: rem-calc(20);
                            bottom: 0;
                            left: rem-calc(20);
                        }
                    }
                }
            }

            &.current-menu-item > a:not(.subbutton):not(.backbutton),
            &.current-menu-parent > a:not(.subbutton):not(.backbutton) {
                color: var(--font-color-invert);
            }

            > a:not(.subbutton):not(.backbutton):hover {
                color: var(--font-color);
            }
        }
    }
}