.sidebar {
    background: {
        color: var(--white-10);
    }
    @include transitions(background-color $transition-default, border-color $transition-default);

    @include MQ(medium) {
        height: calc(100vh - 50px);
        position: fixed;
        z-index: 1;
    }

    ul {
        list-style-type: unset;
        margin: 0;

        li {
            a {
                display: block;
                color: var(--font-color);
                margin: {
                    bottom: 0;
                }
                padding: {
                    top: rem-calc($space-base);
                    right: rem-calc($space-base*2);
                    bottom: rem-calc($space-base);
                    left: rem-calc($space-base*2);
                }
                @include transitions(background-color $transition-default, color $transition-default);

                &:hover {
                    background: {
                        color: var(--white-20);
                    }
                    //color: var(--font-color-invert);
                }
            }
        }
    }
}