.tabs {
    border-radius: 0;
    border: {
        bottom: {
            right-radius: 0;
            left-radius: 0;
        }
    }
    overflow: hidden;

    @include MQ(medium) {
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: auto;
    }

    #main.is-rounded & {
        border: {
            top: {
                right-radius: rem-calc($rounded);
                left-radius: rem-calc($rounded);
            }
        }
    }

    &-panel {
        flex-wrap: wrap;
        align-items: flex-start;
        padding: {
            right: rem-calc($space-base/2);
            left: rem-calc($space-base/2);
        }

        &.is-active {
            display: flex;
        }

        > div {
            display: flex;
            flex-direction: column;
            align-self: stretch;

            padding: {
                right: rem-calc($space-base/2);
                left: rem-calc($space-base/2);
            }

            &:hover {
                background: {
                    color: var(--black);
                }
            }

            &:first-of-type {
                &:hover {
                    background: {
                        color: transparent;
                    }
                }
            }

            > span {
                flex-grow: 1;
            }
        }
    }

    &-title {
        max-width: 100%;

        > a {
            width: 100%;

            @include MQ(medium) {
                width: max-content;
            }
        }
    }

    &-content {
        border-radius: 0;
        
        #main.is-rounded & {
            border: {
                bottom: {
                    right-radius: rem-calc($rounded);
                    left-radius: rem-calc($rounded);
                }
            }
        }
    }
}