#user-menu-btn {
    background: {
        color: transparent;
    }
    border: none;
    max-width: rem-calc(50);
    margin: 0;
    padding: rem-calc(5);
    position: relative;
    outline: none;
    @include transitions(background-color $transition-default, padding $transition-default);

    @include MQ(medium) {
        margin: {
            left: rem-calc($grid-padding/2);
        }
    }

    &:hover,
    &:focus,
    &.active {
        background: {
            color: rgba(255, 255, 255, 0.2);
        }
        cursor: pointer;
        padding: rem-calc(10);

        figure {
            width: rem-calc(30);
        }

        .user-menu {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    figure {
        width: rem-calc(40);
        @include transition(width $transition-default);
    }
}

.user-menu {
    margin-top: 0;
    margin-bottom: 0;
    padding: {
        top: rem-calc(16 * 1.5);
        right: 0;
        bottom: 0;
        left: 0;
    }
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: hidden;
    @include transition(opacity $transition-default);

    &::before {
        content: "";
        border: {
            right: rem-calc(16) solid transparent;
            bottom: rem-calc(16) solid var(--black);
            left: rem-calc(16) solid transparent;
        }
        width: rem-calc(32);
        height: rem-calc(16);
        position: absolute;
        top: rem-calc(16/2);
        right: rem-calc(25);
        transform: translateX(50%);
    }

    ul {
        border: {
            radius: rem-calc($border-radius);
        }
        list-style-type: none;
        margin: 0;

        li {
            background: {
                color: var(--header-bg);
            }

            a {
                display: block;
                color: var(--font-color);
                width: 100%;
                min-width: rem-calc(150);
                margin: 0;
                padding: {
                    top: rem-calc(5);
                    right: rem-calc(10);
                    bottom: rem-calc(5);
                    left: rem-calc(10);
                }
                @include transition(background-color $transition-default);

                @include MQ(medium) {
                    min-width: rem-calc(250);
                }

                &:hover {
                    background: {
                        color: rgba(255, 255, 255, 0.2);
                    }
                }
            }
        }
    }
}