.mainPlayer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.video-js {
    .fullscreen & {
        width: 100vw !important;
        height: 100vh !important;

        video {
            width: 100% !important;
            height: 100% !important;
        }
    }

    &.vjs-user-inactive {
        cursor: none;
    }

    .vjs-hidden {
        display: none;
    }

    // Icons
    .vjs-icon-placeholder {
        line-height: 1 !important;
        width: 100%;
        height: 100%;
        margin: 0;
        position: relative;

        &::before {
            content: "";
            font: {
                family: $icon-font;
                size: rem-calc(40);
            }
            line-height: 1 !important;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .vjs-control-text {
        display: none;
    }

    .vjs-control-bar {
        display: inline-flex;
        align-items: center;
        width: 100%;
        height: rem-calc(60);
        position: absolute;
        bottom: 0;
        left: 0;
        @include transition(opacity $transition-default);

        // Control Buttons general
        .vjs-button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            width: rem-calc(60);
            height: rem-calc(60);
            padding: 0;
            position: relative;
            overflow: hidden;

            .vjs-icon-placeholder {
                &::before {
                    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
                    @include transition(all 0.2s cubic-bezier(0,1.35,0,1));
                }
            }
            
            &:hover {
                .vjs-icon-placeholder {
                    &::before {
                        transform: translate(-50%, -50%) scale(0.9);
                    }
                }
            }
        }

        .vjs-control  {
            &:hover {
                .vjs-icon-placeholder {
                    &::before {
                        @include MQ(medium) {
                            font: {
                                size: rem-calc(50);
                            }    
                        }
                    }
                }
            }
        }

        // Play button
        .vjs-play-control {
            .vjs-icon-placeholder {
                &::before {
                    content: $icon-play;
                }
            }

            &.vjs-playing {
                .vjs-icon-placeholder {
                    &::before {
                        content: $icon-pause;
                    }
                }
            }
        }

        // Time Back
        .vjs-skip-backward-10 {
            .vjs-icon-placeholder {
                &::before {
                    content: $icon-time-back;
                }
            }
        }

        // Time Forward
        .vjs-skip-forward-10 {
            .vjs-icon-placeholder {
                &::before {
                    content: $icon-skip-time;
                }
            }
        }


        // Volume
        .vjs-volume-panel {
            display: none;
            flex-direction: column-reverse;
            position: relative;
            z-index: 1;

            @include MQ(xxsmall) {
                display: inline-flex;
            }

            // Button
            .vjs-mute-control {    
                &.vjs-vol-3 {
                    .vjs-icon-placeholder {
                        &::before {
                            content: $icon-volume-up;
                        }
                    }
                }

                &.vjs-vol-2 {
                    .vjs-icon-placeholder {
                        &::before {
                            content: $icon-volume-down;
                        }
                    }
                }

                &.vjs-vol-1 {
                    .vjs-icon-placeholder {
                        &::before {
                            content: $icon-volume-mute;
                        }
                    }
                }

                &.vjs-vol-0 {
                    .vjs-icon-placeholder {
                        &::before {
                            content: $icon-volume-off;
                        }
                    }
                }
            }

            // Control
            .vjs-volume-control {
                background: {
                    color: var(--dark);
                }
                height: 0;
                padding: {
                    top: 0;
                    right: rem-calc(28);
                    bottom: 0;
                    left: rem-calc(28);
                }
                margin: {
                    bottom: rem-calc(0);
                }
                position: absolute;
                bottom: 100%;
                left: 0;
                opacity: 0;
                pointer-events: none;
                @include transitions(opacity $transition-default 0.1s, height 0s ease 0.4s, padding 0s ease 0.4s);

                .vjs-volume-bar {
                    display: flex;
                    flex-direction: column-reverse;
                    background: {
                        color: var(--white-30);
                    }
                    cursor: pointer;
                    width: 4px;
                    height: 100%;

                    .vjs-mouse-display {
                        position: absolute;
                        top: 8px;
                        bottom: unset !important;
                        left: 50%;                        
                        transform: translateX(-50%);
                        opacity: 0;
                        visibility: hidden;
                        @include transition(opacity $transition-default);

                        .vjs-volume-tooltip {
                            color: var(--white);
                        }
                    }
                }

                .vjs-volume-level {
                    background: {
                        color: var(--white);
                    }
                    width: 100%;
                    height: 100%;
                    position: relative;
                }

                .vjs-control-text {
                    display: inline-block;
                    background: {
                        color: var(--white);
                    }
                    border: {
                        radius: rem-calc(100);
                    }
                    width: rem-calc(12);
                    height: rem-calc(12);
                    margin: 0;
                    position: absolute;
                    top: rem-calc(-6);
                    left: rem-calc(-4);
                }
            }

            &.vjs-hover {
                .vjs-volume-control {
                    height: rem-calc(160);
                    padding: {
                        top: rem-calc(40);
                        bottom: rem-calc(20);
                    }
                    opacity: 1;
                    pointer-events: all;
                    @include transitions(opacity $transition-default 0.1s, height 0s ease 0s, padding 0s ease 0s);
                }
            }

            &.vjs-slider-active {
                .vjs-volume-bar {
                    .vjs-mouse-display {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        // Time
        .vjs-current-time,
        .vjs-time-control,
        .vjs-duration {
            display: inline-block;

            * {
                margin: 0;
            }
        }

        .vjs-current-time {
            margin: {
                right: rem-calc(5);
                left: rem-calc(10);
            }
        }

        .vjs-duration {
            margin: {
                right: rem-calc(10);
                left: rem-calc(5);
            }
        }

        .vjs-remaining-time {
            display: none;
        }

        // Time Progressbar
        .vjs-progress-control {
            width: calc(100% - 32px);
            padding: {
                top: rem-calc(10) !important;
                bottom: rem-calc(10) !important;
            }
            margin: {
                top: rem-calc(0) !important; //19
                right: rem-calc(16);
                bottom: rem-calc(0) !important; //19
                left: rem-calc(16);
            }
            position: absolute;
            bottom: 100%;
            left: 0;
            z-index: 0;
            @include transitions(padding $transition-default, margin $transition-default, bottom $transition-default);

            .vjs-progress-holder {
                background: {
                    color: var(--white-10);
                }
                cursor: pointer;
                width: 100%;
                height: 2px;
                position: relative;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
                @include transition(height $transition-default);

                .vjs-mouse-display {
                    position: absolute;
                    bottom: rem-calc(16);
                    opacity: 0;
                    visibility: hidden;
                    @include transition(opacity $transition-default);
                    
                    .vjs-time-tooltip {
                        background: {
                            color: var(--black-30);
                        }
                        color: var(--white);
                        padding: {
                            right: rem-calc(4);
                            left: rem-calc(4);
                        }
                        transform: translateX(-50%);
                    }
                }

                .vjs-load-progress {
                    background: {
                        color: var(--white-25);
                    }
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);

                    .vjs-control-text {
                        display: none;
                        color: var(-white);
                        position: absolute;
                        bottom: 6px;
                        transform: translateX(50%);
                    }
                }

                .vjs-play-progress {
                    background: {
                        color: var(--primary);
                    }
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);

                    &::after {
                        content: "";
                        background: {
                            color: var(--primary-light);
                        }
                        border-radius: rem-calc(100);
                        width: rem-calc(12);
                        height: rem-calc(12);
                        position: absolute;
                        top: 50%;
                        right: -6px;
                        transform: translateY(-50%);
                        z-index: 1;
                    }

                    .vjs-time-tooltip {
                        display: none;
                        color: var(-white);
                        position: absolute;
                        bottom: 6px;
                        transform: translateX(50%);
                    }
                }
            }

            &:hover {
                padding: {
                    top: rem-calc(7) !important;
                    bottom: rem-calc(7) !important;
                }

                .vjs-progress-holder {
                    height: rem-calc(8);

                    .vjs-mouse-display {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        // Wtf is this
        .vjs-seek-to-live-control {
            display: none;
        }

        .vjs-custom-control-spacer {
            flex-grow: 1;
        }

        // Fullscreen
        .vjs-fullscreen-control {
            .vjs-icon-placeholder {
                &::before {
                    content: $icon-fullscreen;
                }
            }

            &.vjs-playing {
                .vjs-icon-placeholder {
                    &::before {
                        content: $icon-pause;
                    }
                }
            }
        }
    }

    &.vjs-fullscreen {
        .vjs-control-bar {
            .vjs-fullscreen-control {
                .vjs-icon-placeholder {
                    &::before {
                        content: $icon-fullscreen-exit;
                    }
                }
            }
        }
    }

    .vjs-big-play-button {
        display: none;
    }

    &.vjs-user-inactive {
        .vjs-control-bar {
            opacity: 0;
        }
    }
}

#player-back-btn,
#player-session-btn,
#chat-open {
    display: block;
    background: {
        color: transparent;
    }
    border: none;
    color: var(--white);
    flex: none;
    width: rem-calc(60);
    height: rem-calc(60);
    margin: 0;
    position: fixed;
    top: 0;
    @include transition(opacity $transition-default);

    @include MQ(medium) {
        width: rem-calc(60);
        height: rem-calc(60);
    }

    &::before {
        content: "\e91e";
        display: block;
        font: {
            family: $icon-font;
            size: rem-calc(40);
        }
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
        line-height: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include transition(all $transition-default);

        @include MQ(medium) {
            font: {
                size: rem-calc(40);
            }    
        }
    }

    .video-js.vjs-user-inactive & {
        opacity: 0;
    }

    &:hover {
        &::before {
            @include MQ(medium) {
                font: {
                    size: rem-calc(50);
                } 
            }
        }
    }
}

#player-session-btn,
#chat-open {
    right: 0;
}

#player-session-btn {
    &::before {
        content: "\e925";
    }
}

#chat-open {
    &::before {
        content: $icon-chat;
    }
}

#show-container {
    background-color: var(--dark-light);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    position: absolute;
    right: rem-calc(26);
    bottom: rem-calc(80);

    width: rem-calc(320);
    height: rem-calc(200);
    overflow-x: hidden;

    visibility: hidden;
    opacity: 0;
    @include transitions(opacity $transition-default, bottom $transition-default);

    @include MQ(medium) {
        width: rem-calc(480);
        height: rem-calc(288);
        // bottom: rem-calc(130); 
    }

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    ul {
        margin: 0;
    }

    ul.menu {
        list-style-type: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        @include transition(left $transition-default);//

        > li {
            border-bottom: 1px solid var(--white-20);

            > a {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                color: var(--white);
                margin: 0;
                padding: {
                    top: rem-calc(5);
                    right: rem-calc(10);
                    bottom: rem-calc(5);
                    left: rem-calc(10);
                }

                &:hover,
                &:focus {
                    background: {
                        color: var(--dark);
                    }
                }

                span {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    margin: 0;
                    opacity: 0.7;

                    &::before {
                        line-height: 1;
                    }
                }
            }
        }
    }

    ul.sub-menu {
        list-style-type: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;

        visibility: hidden;
        opacity: 0;
        overflow-y: auto;
        @include transition(all $transition-default);

        li {
            &.active {
                background: {
                    color: var(--dark);
                }
            }
        }
    }

    &.active-submenu {
        ul.menu {
            left: -100%;
        }

        ul.sub-menu.active {
            display: block;
            left: 0;
            visibility: visible;
            opacity: 1;
            @include transition(all $transition-default);
        }
    }

    .back {
        display: flex;
        align-items: center;
        color: var(--white);
        width: 100%;
        margin: 0;
        padding: {
            top: rem-calc(5);
            right: rem-calc(10);
            bottom: rem-calc(5);
            left: rem-calc(10);
        }

        &:hover,
        &:focus {
            background: {
                color: var(--dark);
            }
        }

        &::before {
            line-height: 1;
        }
    }
}

#show-eps-btn {
    background: {
        color: transparent !important;
    }
    border: 0;
    border-radius: 0;
    color: var(--white);
    width: rem-calc(60);
    height: rem-calc(60);
    padding: 0;
    position: absolute;
    right: rem-calc(60);
    bottom: 0;

    &::before {
        font-size: rem-calc(26);
        text-shadow: 0 0 5px rgba(0,0,0,0.75);
        transform: translate(-50%, -50%) scale(1);
        @include transition(all 0.2s cubic-bezier(0, 1.35, 0, 1));
    }

    &:hover {
        &::before {
            transform: translate(-50%, -50%) scale(0.9);

            @include MQ(medium) {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }
    }
}

.next-episode-btn {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    width: rem-calc(200);
    margin: 0;
    position: absolute;
    right: rem-calc(16);
    bottom: rem-calc(96);
    // visibility: hidden;
    // opacity: 0;
    @include transitions(opacity $transition-default, bottom $transition-default);

    @include MQ(medium) {
        width: rem-calc(320);

        &.visible {
            visibility: hidden;
            opacity: 0;
        }
    }

    i {
        color: var(--white);
        font: {
            size: rem-calc(60);
        }

        &::before {
            text-shadow: 0px 0px 10px rgba(0,0,0,0.75), 0px 0px 20px #000;
        }
    }

    span {
        display: block;
        background: {
            color: var(--black-50);
        }
        margin: 0;
        padding: rem-calc(5) rem-calc(10);
    }

    &.visible {
        visibility: visible;
        opacity: 1;
    }
}