label {
    &.select {
        &::before {
            content: $icon-chevron-down;
            font: {
                family: $icon-font;
                size: rem-calc(28);
            }
            line-height: 1;
            position: absolute;
            right: rem-calc(12);
            bottom: rem-calc(12);
            pointer-events: none;
            z-index: 1;
        }
    }
}

input[type="file"] {
    display: block;

    &::file-selector-button {
        @include button();
        @include button-colors(var(--font-color-invert), var(--font-color-invert), var(--white), var(--primary));

        margin: {
            right: rem-calc($space-base*2);
            bottom: 0;
        }
    }
}