* {
    scroll-behavior: auto !important;
}

body {
    padding: {
        top: rem-calc(0) !important;
    }

    overflow-x: hidden !important;
}

// #main {
//     max-height: 100vh;
//     overflow: auto;
// }

body.active-menu,
body.active-modal {
    overflow-y: hidden;
}

table,
.table {
    table-layout: fixed;

    thead,
    .thead {
        th,
        .th {
            color: var(--font-color);
            font-weight: $font-weight-base;
        }
    }

    figure {
        max-width: rem-calc(100);
    }
}

label {
    &.select {
        &::before {
            right: rem-calc(10) !important;
        }
    }
}

#loginWrap {
    height: 100vh;

    .loginCol {
        background: {
            color: var(--black-50);
        }
        padding: rem-calc(20);
        position: relative;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}

.rounded {
    border-radius: 0;
    overflow: hidden;

    img {
        border-radius: 0;
    }

    #main.is-rounded & {
        border-radius: rem-calc($rounded);
    }
}

.scroller {
    display: none;
    opacity: 0;
    visibility: hidden;
    @include transitions(display 0s ease 0.31s, visibility 0s ease 0.31s, opacity 0.3s ease);

    &.visible {
        display: inline-block;
        opacity: 1;
        visibility: visible;
        @include transitions(display 0s ease 0s, visibility 0s ease 0s, opacity 0.3s ease 0.1s);
    }
}

.vue-recycle-scroller__item-wrapper {
    @extend .grid-row;
}

.sticky-top {
    background: {
        color: var(--body-bg);
    }
    position: sticky;
    top: rem-calc(0);
    z-index: 1;

    @include MQ(medium) {
        top: rem-calc(-25);
    }
}

.fancybox__container {
    --fancybox-bg: rgb(24,24,27, 90%) !important;
}