.header, #header {
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
}

body {
    padding: {
        top: rem-calc(50) !important;
    }
}

table,
.table {
    table-layout: fixed;

    thead,
    .thead {
        th,
        .th {
            color: var(--font-color);
            font-weight: $font-weight-base;
        }
    }

    figure {
        max-width: rem-calc(100);
    }
}