#callout {
    box-shadow: 0px 10px 20px 9px rgba(0,0,0,0.75);
    width: fit-content;
    position: fixed;
    top: 100%;
    right: -50%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(calc(-100% - 16px));
    @include transitions(right 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0s ease-in-out 0.5s);

    &::before {
        content: "";
        background: {
            color: var(--grey);
        }
        width: rem-calc(50);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &::after {
        content: "-";
        color: var(--white);
        font: {
            family: $icon-font;
            size: rem-calc(24);
        }
        line-height: 1;
        position: absolute;
        top: 50%;
        left: rem-calc(25);
        transform: translate(-50%, -50%);
    }

    &.active {
        right: rem-calc($space-base);
        opacity: 1;
        visibility: visible;
        @include transitions(right 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0s ease-in-out 0s);
    }

    p {
        background: {
            color: var(--white);
        }
        color: var(--dark);
        width: fit-content;
        margin: {
            bottom: 0;
            left: rem-calc(50);
        }
        padding: {
            top: rem-calc(10);
            right: rem-calc(20);
            bottom: rem-calc(10);
            left: rem-calc(20);
        }
    }

    &[data-type="success"] {
        &::before {
            background: {
                color: var(--success);
            }
        }

        &::after {
            content: $icon-check;
        }

        p {
            background: {
                color: var(--success-light);
            }
        }
    }

    &[data-type="alert"] {
        &::before {
            background: {
                color: var(--alert);
            }
        }

        &::after {
            content: $icon-close;
        }

        p {
            background: {
                color: var(--alert-light);
            }
        }
    }

    &[data-type="warning"] {
        &::before {
            background: {
                color: var(--warning);
            }
        }

        &::after {
            content: "!";
        }

        p {
            background: {
                color: var(--warning-light);
            }
        }
    }
}

.box-callout {
    display: flex;
    align-items: center;
    color: var(--black);
    line-height: 1;
    min-height: rem-calc(64);
    padding: {
        top: rem-calc(6);
        right: rem-calc(20);
        bottom: rem-calc(6);
        left: rem-calc(68);
    }
    position: relative;

    &::before {
        content: "";
        width: rem-calc(48);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &::after {
        content: "";
        color: var(--white);
        font: {
            family: $icon-font;
            size: rem-calc(28);
        }
        position: absolute;
        top: 50%;
        left: rem-calc(24);
        transform: translate(-50%, -50%);
    }

    &.success { background-color: var(--success-light); &::before { background-color: var(--success); } &::after { content: $icon-check; } }
    &.warning { background-color: var(--warning-light); &::before { background-color: var(--warning); } &::after { content: $icon-info; } }
    &.alert { background-color: var(--alert-light); &::before { background-color: var(--alert); } &::after { content: $icon-error; } }
}