// @include font-face(default, css/fonts/default, 700, normal, eot ttf woff svg);

i {
    font-family: $icon-font;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 20px;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon::before{
    content: '';
    font-family: $icon-font;
    text: {
        transform: none;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-left,
.icon-right {
    &::before {
        display: inline-block;
        content: "";
        font: {
            family: $icon-font;
            size: inherit;
        }
        text: {
            transform: none;
        }
        margin: {
            right: 10px;
        }
    }
}

.icon-right {
    &::before {
        margin: {
            right: 0;
            left: 10px;
        }
    }
}

a.icon-left:hover,
a.icon-right:hover {
    &::before{
        color: inherit;
    }

    &::after{
        color: inherit;
    }
}

// Normal Icons
.icon {
    &-add { &::before { content: $icon-add; } }
    &-add-user { &::before { content: $icon-add-user; } }
    &-arrow-right { &::before { content: $icon-arrow-right; } }
    &-arrow-back { &::before { content: $icon-arrow-back; } }
    &-arrow-left { &::before { content: $icon-arrow-back; } }
    &-check { &::before { content: $icon-check; } }
    &-chevron-down { &::before { content: $icon-chevron-down; } }
    &-chevron-left { &::before { content: $icon-chevron-left; } }
    &-chevron-up { &::before { content: $icon-chevron-up; } }
    &-chevron-right { &::before { content: $icon-chevron-right; } }
    &-calender { &::before { content: $icon-calender; } }
    &-close { &::before { content: $icon-close; } }
    &-error { &::before { content: $icon-error; } }
    &-globe { &::before { content: $icon-globe; } }
    &-help { &::before { content: $icon-help; } }
    &-home { &::before { content: $icon-home; } }
    &-info { &::before { content: $icon-info; } }
    &-key { &::before { content: $icon-key; } }
    &-location { &::before { content: $icon-location; } }
    &-mail { &::before { content: $icon-mail; } }
    &-media { &::before { content: $icon-media; } }
    &-moon { &::before { content: $icon-moon; } }
    &-multilayer { &::before { content: $icon-multilayer; } }
    &-pause { &::before { content: $icon-pause; } }
    &-pen { &::before { content: $icon-pen; } }
    &-phone { &::before { content: $icon-phone; } }
    &-play { &::before { content: $icon-play; } }
    &-remove { &::before { content: $icon-remove; } }
    &-repeat { &::before { content: $icon-repeat; } }
    &-repeat-one { &::before { content: $icon-repeat-one; } }
    &-replay { &::before { content: $icon-replay; } }
    &-shuffle { &::before { content: $icon-shuffle; } }
    &-save { &::before { content: $icon-save; } }
    &-send { &::before { content: $icon-send; } }
    &-search { &::before { content: $icon-search; } }
    &-skip-next { &::before { content: $icon-skip-next; } }
    &-skip-previous { &::before { content: $icon-skip-previous; } }
    &-skip-time { &::before { content: $icon-skip-time; } }
    &-time-back { &::before { content: $icon-time-back; } }
    &-spotify { &::before { content: $icon-spotify; } }
    &-stop { &::before { content: $icon-stop; } }
    &-sun { &::before { content: $icon-sun; } }
    &-trash { &::before { content: $icon-trash; } }
    &-update { &::before { content: $icon-update; } }
    &-volume-down { &::before { content: $icon-volume-down; } }
    &-volume-mute { &::before { content: $icon-volume-mute; } }
    &-volume-off { &::before { content: $icon-volume-off; } }
    &-volume-up { &::before { content: $icon-volume-up; } }
}

// Brand Icons
.icon {
    &-discord { &::before { content: "\e937"; } }
    &-epicgames { &::before { content: "\e938"; } }
    &-github { &::before { content: "\e939"; } }
    &-gmail { &::before { content: "\e93a"; } }
    &-google { &::before { content: "\e93b"; } }
    &-instagram { &::before { content: "\e93c"; } }
    &-netflix { &::before { content: "\e93d"; } }
    &-switch { &::before { content: "\e93e"; } }
    &-nvidia { &::before { content: "\e93f"; } }
    &-oculus { &::before { content: "\e940"; } }
    &-paypal { &::before { content: "\e941"; } }
    &-playstation { &::before { content: "\e942"; } }
    &-reddit { &::before { content: "\e943"; } }
    &-snapchat { &::before { content: "\e944"; } }
    &-soundcloud { &::before { content: "\e945"; } }
    &-spotify { &::before { content: "\e946"; } }
    &-steam { &::before { content: "\e947"; } }
    &-tiktok { &::before { content: "\e948"; } }
    &-tumblr { &::before { content: "\e949"; } }
    &-twitch { &::before { content: "\e94a"; } }
    &-twitter { &::before { content: "\e94b"; } }
    &-windows { &::before { content: "\e94c"; } }
    &-wordpress { &::before { content: "\e94d"; } }
    &-xbox { &::before { content: "\e94e"; } }
    &-youtube { &::before { content: "\e94f"; } }
}

a {
    &[href^="tel:"]{
        &:before {
            content: "\50" !important;
        }
    }

    &[href^="mailto:"] {
        &:before {
            content: "\4d" !important;
        }
    }

    &:hover {
        color: var(--primary-dark);

        &::after {
            background-color: var(--primary-dark);
        }
    }
}

.icon-send {
    &:before {
        content: "\53" !important;
        top: 32px;
        left: 28px;
    }
}