a.btn, .btn, .button:not(.acf-button):not(.add_media), [type="submit"] {
    border: {
        radius: 0;
        width: rem-calc($button-border-width);
    }
    font: {
        size: rem-calc($font-size-base);
        weight: $button-font-weight;
    }
    padding: rem-calc(10) rem-calc(25);

    &.btn-outline-primary {
        border: {
            color: var(--white);
            width: rem-calc($button-border-width);
        }
        color: var(--white);

        &:hover {
            background: {
                color: var(--white);
            }
            color: var(--font-color-invert);
        }
    }

    &.btn-outline-secondary {
        border: {
            color: var(--secondary);
            width: rem-calc($button-border-width);
        }
        color: var(--secondary);

        &:hover {
            background: {
                color: var(--secondary);
            }
            color: var(--font-color-invert);
        }
    }

    &.btn-success {
        background: {
            color: var(--success);
        }
        border: {
            color: var(--success);
            width: rem-calc($button-border-width);
        }

        &:hover {
            background: {
                color: var(--success-dark);
            }
            border: {
                color: var(--success-dark);
            }
            color: var(--font-color);
        }
    }

    &.btn-alert {
        border: {
            color: var(--alert);
            width: rem-calc($button-border-width);
        }
        color: var(--alert);

        &:hover {
            background: {
                color: var(--alert);
            }
            color: var(--font-color);
        }
    }
}

.btn-close {
    filter: invert(1) brightness(2);
    opacity: 1;
}