#media-browser {
    padding: rem-calc($space-base*2);
    overflow-x: hidden;

    @include MQ(xsmall) {
        min-height: unset;
    }

    @include MQ(medium) {
        width: 75vw;
    }

    .mediabrowser-wrap {
        padding: {
            top: 0;
            bottom: 0;
        }
    }

    table {
        tbody {
            overflow-y: auto;
            max-height: calc(100vh - 125px);

            @include MQ(xsmall) {
                max-height: 50vh;
            }
        }
    }
}

.mediabrowser-wrap {
    table {
        tbody {
            tr {
                display: flex;
                flex-direction: row;
                align-items: center;

                td:first-of-type {
                    flex-grow: 1;
                }
            }

            .folder:last-of-type,
            .folder:last-of-type {
                margin-bottom: rem-calc($space-base);
            }
        }
    }
}