////-- Colors --
$primary-color: #00cae2;

$secondary-color: #A2D729;


$tertiary-color: #ff3604;


$quaternary-color: #5448C8;


$quinary-color: #ede407;


$grey: #aaaaaa;


$dark: #121212;


$success: #3adb76;


$warning: #ffae00;


$alert: #cc4b37;


$offwhite: #f8f8f8;