//-- Grid Settings --
//$grid-columns:		grid(columns) !default;
//$grid-max-width: 		grid(max-width) !default;
$grid-padding: 			16;

//-- Global --
$border-radius: 12;
$rounded: 12;

//-- Buttons --
$button-border-radius:      300;
$button-border-width:       2;

$button-padding-top:        8;
$button-padding-right:      38;
$button-padding-bottom:     8;
$button-padding-left:       38;

$button-font-size: 20;

//-- Form Settings --
$input-border-radius: 		0;
// $input-border-style: 		form(border-style) !default;
// $input-border-width: 		form(border-width) !default;
// $input-font-family:	        form(font-family) !default;
// $input-font-size:	        form(font-size) !default;
// $input-font-weight:	        form(font-weight) !default;
// $input-label-font-family:	form(font-family) !default;
// $input-label-font-size:	    form(font-size) !default;
$input-space-horizontal:    16;
$input-space-vertical:      8;

$transition-default: 0.25s ease;