//-- Grid Settings --
//$grid-columns:		grid(columns) !default;
//$grid-max-width: 		grid(max-width) !default;
$grid-padding: 			16;

//-- Buttons --
$button-border-radius:      0;
$button-border-width:       2;

$button-padding-top:        10;
$button-padding-right:      20;
$button-padding-bottom:     10;
$button-padding-left:       20;

$button-font-size: 20;
