img {
    @include transition(all $transition-default !important);

    &[loading="lazy"] {
        background: {
            color: var(--black-25);
            // image: url('/build/css/images/img_preview.webp');
            position: center;
            size: cover;
        }
    }
}

.cropper-img {
    display: block !important;
    max-width: 100% !important;
    // width: initial !important;
    // height: initial !important;
    // position: initial;
    // aspect-ratio: initial;
    transition: unset !important;
    // object-fit: initial;
    // object-position: initial;
    // vertical-align: middle;
}

#cropper-preview {
    overflow: hidden;
    aspect-ratio: 1;
//     max-width: 100% !important;
//     width: 100% !important;
//     height: auto !important;
//     aspect-ratio: 1 !important;

//     img {
//         min-height: 100% !important;
//     }
}

.cropper-container {
    img {
        // width: initial;
        // height: initial;
        // position: initial;
        // aspect-ratio: initial;
        // transition: unset;
        transition: unset !important;
        // object-fit: initial;
        // object-position: initial;
        // vertical-align: middle;
    }
}