.search-bar {
    margin: {
        right: rem-calc(8);
    }
    padding: {
        top: rem-calc(5);
        bottom: rem-calc(5);
    }
    width: 100%;
    position: relative;

    @include MQ(medium) {
        flex-grow: 1;
        width: auto;
        max-width: rem-calc(500);
    }

    &-fix {
        background: {
            color: var(--header-bg);
        }
        width: 100vw;
        height: rem-calc(50);
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;

        @include MQ(medium) {
            display: none;
        }
    }

    .searchbar-wrap {
        height: rem-calc(40);
        position: relative;

        @include MQ(medium) {
            display: flex;
            justify-content: flex-end;
        }

        input {
            box-shadow: 0px 20px 15px 5px rgba(0, 0, 0, 0.5);
            padding: {
                right: rem-calc($input-space-horizontal);
                left: rem-calc($input-space-horizontal);
            }
            width: 100%;
            height: rem-calc(50);
            max-width: unset;
            position: fixed;
            top: rem-calc(50);
            left: 0;
            z-index: -2;
            @include transitions(background-color $transition-default, padding $transition-default 0.3s, width $transition-default 0.3s, top $transition-default);

            @include MQ(medium) {
                box-shadow: none;
                padding: {
                    right: rem-calc(48);
                }
                height: rem-calc(40);
                position: relative;
                top: 0;
                right: unset;
                left: unset;
                z-index: 0;
            }

            @include maxMQ(medium) {
                border: {
                    color: transparent !important;
                    radius: 0 !important
                }
            }
        }

        .search-btn {
            background: {
                color: transparent;
            }
            border: none;
            margin: 0;
            padding: 0;
            width: rem-calc(40);
            height: rem-calc(40);
            min-width: unset !important;
            min-height: unset !important;
            position: absolute;
            top: 0;
            right: 0;
            @include transition(right $transition-default);

            @include MQ(medium) {
                right: rem-calc(4);
            }

            &:hover {
                &::before {
                    color: var(--font-color);
                    opacity: 0.7;
                    @include transition(opacity $transition-default);
                }
            }

            &::before {
                content: "\e90d";
                color: var(--font-color);
                font: {
                    family: $icon-font;
                }
                @include transition(opacity $transition-default);
            }
        }
    }

    &:not(.active-search) {
        .searchbar-wrap {
            input {
                box-shadow: none;
                border: {
                    color: transparent;
                }
                top: 0;
                @include transitions(background-color $transition-default 0.3s, padding $transition-default, width $transition-default, top $transition-default);

                @include MQ(medium) {
                    background: {
                        color: transparent;
                    }
                    width: 0;
                    padding: {
                        right: rem-calc(28);
                    }
                    right: unset;
                    left: unset;
                }
            }

            .search-btn {
                @include MQ(medium) {
                    right: rem-calc(4);
                }
            }
        }
    }

    #movieLivesearchResults {
        width: 100%;
        max-height: rem-calc(200);
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: scroll;
        @include transition(top $transition-default);

        @include MQ(medium) {
            position: absolute;
        }

        > a {
            border: {
                top: 1px solid var(--font-color);
            }

            @include MQ(medium) {
                border: {
                    top: none;
                    bottom: 1px solid var(--font-color);
                }
            }
        }
    }

    &.active-search {
        #movieLivesearchResults {
            background: {
                color: var(--header-bg);
            }
            /*border: {
                bottom: 1px solid var(--font-color);
            }*/
            top: rem-calc(100);

            @include MQ(medium) {
                top: calc(100% - 5px);
            }
        }
    }

    .loader {
        display: inline-block;
        font-size: 0;
        width: 100vw;
        height: rem-calc(50);
        margin: 0;
        position: fixed;
        top: rem-calc(50);
        left: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        @include MQ(medium) {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
        }

        &::after {
            display: block;
            content: "";
            border: {
                color: var(--white);
                radius: rem-calc(300);
                style: solid;
                width: rem-calc(5);
                right: {
                    color: var(--grey);
                }
            }
            width: rem-calc(30);
            height: rem-calc(30);
            position: absolute;
            top: rem-calc(10);
            right: rem-calc($space-base);
            transform: translateY(-50%);
            z-index: 1;
            animation: spin 1s linear infinite;
            transform: rotate(0);

            @include MQ(medium) {
                background: {
                    color: var(--input-bg-focus);
                }
                top: rem-calc(5);
                right: rem-calc(5);
            }
        }
    }

    &.searching {
        .loader {
            opacity: 1;
            visibility: visible;
        }
    }
}