.search-bar {
    margin: {
        right: rem-calc(8);
    }
    padding: {
        top: rem-calc(5);
        bottom: rem-calc(5);
    }
    width: 100%;
    position: relative;

    @include MQ(medium) {
        width: auto;
    }

    &-fix {
        background: {
            color: var(--header-bg);
        }
        width: 100vw;
        height: rem-calc(50);
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;

        @include MQ(medium) {
            display: none;
        }
    }

    .searchbar-wrap {
        height: rem-calc(40);
        position: relative;

        input {
            background: {
                color: var(--header-bg);
            }
            padding: {
                right: rem-calc($grid-padding);
                left: rem-calc($grid-padding);
            }
            width: 100%;
            height: rem-calc(50);
            max-width: unset;
            position: fixed;
            top: rem-calc(50);
            left: 0;
            z-index: -2;
            @include transitions(border $transition-default, padding $transition-default 0.3s, width $transition-default 0.3s, top $transition-default);

            @include MQ(medium) {
                background: {
                    color: transparent;
                }
                padding: {
                    right: rem-calc(48);
                    left: rem-calc($grid-padding/2);
                }
                width: rem-calc(300);
                height: rem-calc(40);
                max-width: rem-calc(300);
                position: relative;
                top: 0;
                right: 0;
                left: unset;
                z-index: 0;
            }

            @include maxMQ(medium) {
                border: {
                    color: transparent !important;
                }
            }
        }

        .search-btn {
            background: {
                color: transparent;
            }
            border: none;
            margin: 0;
            padding: 0;
            width: rem-calc(40);
            height: rem-calc(40);
            min-width: unset !important;
            min-height: unset !important;
            position: absolute;
            top: 0;
            right: 0;

            &:hover {
                background: {
                    color: transparent;
                }

                &::before {
                    color: var(--font-color);
                    opacity: 0.7;
                    @include transition(opacity $transition-default);
                }
            }

            &::before {
                content: "\e90d";
                color: var(--font-color);
                font: {
                    family: $icon-font;
                }
                @include transition(opacity $transition-default);
            }
        }
    }

    &:not(.active-search) {
        .searchbar-wrap {
            input {
                top: 0;
                border: {
                    color: transparent;
                }
                
                
                @include transitions(border $transition-default 0.3s, padding $transition-default, width $transition-default, top $transition-default);

                @include MQ(medium) {
                    width: 0;
                    padding: {
                        right: rem-calc(28);
                    }
                }
            }
        }
    }

    #movieLivesearchResults {
        width: 100%;
        max-height: rem-calc(200);
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: scroll;
        @include transition(top $transition-default);

        @include MQ(medium) {
            position: absolute;
        }

        > a {
            border: {
                top: 1px solid var(--font-color);
            }

            @include MQ(medium) {
                border: {
                    top: none;
                    bottom: 1px solid var(--font-color);
                }
            }
        }
    }

    &.active-search {
        #movieLivesearchResults {
            background: {
                color: var(--header-bg);
            }
            /*border: {
                bottom: 1px solid var(--font-color);
            }*/
            top: rem-calc(100);

            @include MQ(medium) {
                top: calc(100% - 5px);
            }
        }
    }
}