img {    
    &[loading="lazy"] {
        background: {
            color: var(--white-25);
            // image: url('/build/css/images/img_preview.webp');
            position: center;
            size: cover;
        }
    }
}