// Normal Icons
$icon-add:"+"; 
$icon-add-user:"\e934"; 
$icon-arrow-right:"\e91f"; 
$icon-arrow-back:"\e91e"; 
$icon-chat:"\e92b"; 
$icon-check:"c"; 
$icon-chevron-down:"\e917";
$icon-chevron-left:"\e918"; 
$icon-chevron-up:"\e91a"; 
$icon-chevron-right:"\e919"; 
$icon-calender:"\e910";
$icon-close:"x"; 
$icon-error:"!"; 
$icon-globe:"g"; 
$icon-help:"?"; 
$icon-home:"h"; 
$icon-info:"i"; 
$icon-key:"k";
$icon-location:"\e91d"; 
$icon-mail:"m"; 
$icon-media:"\e911"; 
$icon-moon:"\e91b"; 
$icon-multilayer:"\e916"; 
$icon-pause:"\e901"; 
$icon-pen:"e"; 
$icon-phone:"p"; 
$icon-play:"\e902"; 
$icon-remove:"-"; 
$icon-repeat:"\e903"; 
$icon-repeat-one:"\e904"; 
$icon-replay:"\e905"; 
$icon-shuffle:"\e906"; 
$icon-save:"\e915"; 
$icon-send:"s"; 
$icon-search:"\e90d"; 
$icon-skip-next:"\e907"; 
$icon-skip-previous:"\e908"; 
$icon-skip-time:"\e952"; 
$icon-time-back:"\e953"; 
$icon-spotify:"\f1bc"; 
$icon-stop:"\e908"; 
$icon-sun:"\e91c"; 
$icon-trash:"\e900"; 
$icon-update:"\e913"; 
$icon-volume-down:"\e909"; 
$icon-volume-mute:"\e90a"; 
$icon-volume-off:"\e90b"; 
$icon-volume-up:"\e90c"; 