.nav-link {
    color: var(--primary);

    &:hover {
        color: var(--primary-dark);
    }
}

form {
    &.dropzone {
        border-color: var(--primary);
        background-color: unset !important;

        .dz-preview.dz-image-preview {
            background-color: unset;
        }
    }
}
