@mixin button() {
    //-- Standard Settings
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: unset;
    cursor: pointer;
    font: {
        family: var(--font-family);
        size: rem-calc($button-font-size);
        weight: $button-font-weight;
    }
    line: {
        height: $button-line-height;
    }
    text: {
        align: center;
        transform: $button-text-transform;
    }
    border: {
        radius: rem-calc($button-border-radius);
        style: $button-border-style;
        width: rem-calc($button-border-width);
    }
    margin: 0;
    padding: {
        top: rem-calc($button-padding-top);
        right: rem-calc($button-padding-right);
        bottom: rem-calc($button-padding-bottom);
        left: rem-calc($button-padding-left);
    }    
    position: relative;
    opacity: 1;
    outline: none;
    vertical-align: middle;
    @include transitions(all $transition-default);

    // Sizes
    &.btn-big    {  @include button-size(big); }
    &.btn-small  {  @include button-size(small); }

    // Icons
    @include button-icons();
}

@mixin button-colors(
    $color: $white,             // Font color
    $colorHover: $white,        // Hover font color
    $bg: $black,                // Background color
    $bgHover: $dark-light,      // Hover background color
    $borderColor: transparent,  // Border color
    $borderHover: transparent   // Hover border color
) {
    //-- Standard
    background: {
        color: $bg;
    }
    color: $color;
    border-color: $borderColor;

    > a {
        color: $color;
    }

    //-- Hover Effects
    @include button-animation(
        $button-animation,
        $colorHover,        // Hover font color
        $bg,                // Background color
        $bgHover,           // Hover background color
        $borderHover        // Hover border color
    );

    &.hollow {
        @include button-hollow($bg, $colorHover, $bg, $bg, $bg);
    }
}

@mixin button-hollow(
    $color: $black,             // Font color
    $colorHover: $white,        // Hover font color
    $bgHover: $black,           // Hover background color
    $borderColor: $black,       // Border color
    $borderHover: $borderColor  // Hover border color
) {
    $bg: transparent;
    background-color: transparent;
    border-color: $borderColor;
    color: $color;

    > a {
        color: $color;
    }

    //-- Hover effects
    @include button-animation(
        $button-animation,
        $colorHover,        // Hover font color
        $bg,                // Background color
        $bgHover,           // Hover background color
        $borderHover        // Hover border color
    );
}

@mixin button-icons() {
    //-- Standard settings for button with icon
    &.icon-right,
    &.icon-left,
    &.icon-only {
        &::before {
            display: inline-block;
            color: inherit;
            font: {
                family: $icon-font;
                size: inherit;
                weight: inherit;
            }
            line-height: 1;
            position: unset;
        }
    }

    &.icon-left {
        &::before {
            margin-right: rem-calc($space-base/2);
        }
    }

    &.icon-right {
        flex-direction: row-reverse;
        
        &::before {
            margin-left: rem-calc($space-base/2);
        }
    }

    &.icon-only {
        aspect-ratio: 1/1;
        padding-right: 0;

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}