table, .table {
    a {
        cursor: pointer;
    }

    thead, .thead {
        background: {
            color: var(--black);
        }
    
        th, .th {
            color: var(--font-color-invert);
            font: {
                weight: 600;
            }
    
            p, span, a {
                color: var(--font-color-invert);
                font: {
                    weight: 600;
                }
            }
        }
    }

    tbody, .tbody {
        background-color: transparent;

        tr, .tr {
            background-color: var(--table-bg);
        }
    }
    
    td, .td {
        color: var(--font-color);
    
        p, a, span {
            color: var(--font-color);
        }

        a:not(.btn) {
            text-decoration: none;
        }
    }
}